# EDA COVID-19 Activity

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')
import sqlalchemy as db
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('COVID-19 Activity.csv')
df.head()

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,CONTINENT_NAME,DATA_SOURCE_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,COUNTRY_ALPHA_3_CODE,COUNTRY_SHORT_NAME,COUNTRY_ALPHA_2_CODE,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT
0,0,Marshall,Alabama,2020-01-22,America,New York Times,0,1095.0,USA,United States,US,0,0
1,0,Marshall,Alabama,2020-01-23,America,New York Times,0,1095.0,USA,United States,US,0,0
2,0,Marshall,Alabama,2020-01-24,America,New York Times,0,1095.0,USA,United States,US,0,0
3,0,Marshall,Alabama,2020-01-25,America,New York Times,0,1095.0,USA,United States,US,0,0
4,0,Marshall,Alabama,2020-01-26,America,New York Times,0,1095.0,USA,United States,US,0,0

In [3]:
df.shape

(1608976, 13)

In [4]:
pre = df.loc[df['COUNTRY_ALPHA_3_CODE'] == 'USA']
pre.head()
new = pre.loc[:,['PEOPLE_POSITIVE_CASES_COUNT', 'COUNTY_NAME', 'PROVINCE_STATE_NAME', 'REPORT_DATE', 'PEOPLE_DEATH_NEW_COUNT', 'PEOPLE_POSITIVE_NEW_CASES_COUNT', 'PEOPLE_DEATH_COUNT']]
new.head()

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,PEOPLE_DEATH_NEW_COUNT,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT
0,0,Marshall,Alabama,2020-01-22,0,0,0
1,0,Marshall,Alabama,2020-01-23,0,0,0
2,0,Marshall,Alabama,2020-01-24,0,0,0
3,0,Marshall,Alabama,2020-01-25,0,0,0
4,0,Marshall,Alabama,2020-01-26,0,0,0

In [5]:
new.shape

(1446898, 7)

In [6]:
cols = {
        'PEOPLE_POSITIVE_CASES_COUNT': 'Positive cases', 
        'COUNTY_NAME': 'County', 
        'PROVINCE_STATE_NAME': 'State',
        'REPORT_DATE': 'Date', 
        'PEOPLE_DEATH_NEW_COUNT': 'Deaths new',
        'PEOPLE_POSITIVE_NEW_CASES_COUNT': 'Positive new cases', 
        'PEOPLE_DEATH_COUNT': 'Deaths'
        }
new.rename(columns = cols, inplace = True)
new.head()

,Positive cases,County,State,Date,Deaths new,Positive new cases,Deaths
0,0,Marshall,Alabama,2020-01-22,0,0,0
1,0,Marshall,Alabama,2020-01-23,0,0,0
2,0,Marshall,Alabama,2020-01-24,0,0,0
3,0,Marshall,Alabama,2020-01-25,0,0,0
4,0,Marshall,Alabama,2020-01-26,0,0,0

In [7]:
engine = db.create_engine("mysql+mysqlconnector://nVY8WCmoZ0:CM3Tfkrio8@remotemysql.com:3306/nVY8WCmoZ0") # mysqldb
engine.connect()

In [9]:
parte1 = new.iloc[:723449]

with engine.begin() as connection:
        parte1.to_sql('covid19', con=connection, schema='nVY8WCmoZ0', if_exists='replace', index=False)

In [11]:
parte1 = new.iloc[723449:1446899]

with engine.begin() as connection:
        parte1.to_sql('covid19', con=connection, schema='nVY8WCmoZ0', if_exists='append', index=False)

In [10]:
check = pd.read_sql_table("covid19", engine)
check.head()

,Positive cases,County,State,Date,Deaths new,Positive new cases,Deaths
0,0,Marshall,Alabama,2020-01-22,0,0,0
1,0,Marshall,Alabama,2020-01-23,0,0,0
2,0,Marshall,Alabama,2020-01-24,0,0,0
3,0,Marshall,Alabama,2020-01-25,0,0,0
4,0,Marshall,Alabama,2020-01-26,0,0,0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1608976 entries, 0 to 1608975
Data columns (total 13 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   PEOPLE_POSITIVE_CASES_COUNT      1608976 non-null  int64
 1   COUNTY_NAME                      1486396 non-null  object
 2   PROVINCE_STATE_NAME              1511820 non-null  object
 3   REPORT_DATE                      1608976 non-null  object
 4   CONTINENT_NAME                   1607614 non-null  object
 5   DATA_SOURCE_NAME                 1608976 non-null  object
 6   PEOPLE_DEATH_NEW_COUNT           1608976 non-null  int64
 7   COUNTY_FIPS_NUMBER               1460972 non-null  float64
 8   COUNTRY_ALPHA_3_CODE             1607614 non-null  object
 9   COUNTRY_SHORT_NAME               1608976 non-null  object
 10  COUNTRY_ALPHA_2_CODE             1607160 non-null  object
 11  PEOPLE_POSITIVE_NEW_CASES_COUNT  1608976 non-null  int64
 12  PEOPLE_DEATH_COUNT               1608976 non-null  int64
dtypes: float64(1), int64(4), object(8)
memory usage: 159.6+ MB

Existen estados de otros países

In [13]:
df['PROVINCE_STATE_NAME'].unique()

array(['Alabama', 'Texas', 'Kentucky', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Florida', 'Georgia', 'Idaho',
       'Connecticut', 'Illinois', 'Hawaii', 'Indiana', 'Iowa', 'Kansas',
       'Louisiana', 'Maine', 'Maryland', 'Michigan', 'Minnesota',
       'Massachusetts', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
       'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Utah', 'Vermont', 'Virginia',
       'Washington', 'Virgin Islands', 'West Virginia', 'Wisconsin',
       'Wyoming', 'Delaware', 'Guam', 'Northern Mariana Islands',
       'District of Columbia', 'Yunnan', nan, 'Guangdong', 'Chongqing',
       'Jiangsu', 'Manitoba', 'Guangxi', 'Ontario', 'Fujian',
       'Cruise Ships', 'Repatriated Travellers', 'British Columbia',
       'Guizhou', 'New Brunswick', 'Tibet', 'Northern Territory',
       'Northwest Territories', 'Hong Kong', 'Quebec', 'Hubei', 'Jiangxi',
       'Victoria', 'Prince Edward Island', 'Xinjiang', 'Henan', 'Anhui',
       'Saskatchewan', 'Nova Scotia', 'Shaanxi',
       'Australian Capital Territory', 'Hebei', 'Yukon', 'Hunan',
       'Hainan', 'Shanxi', 'Western Australia', 'New South Wales',
       'Tasmania', 'Jilin', 'Newfoundland and Labrador', 'Gansu',
       'Heilongjiang', 'Shandong', 'Shanghai', 'Beijing', 'Sichuan',
       'Alberta', 'Inner Mongolia', 'Zhejiang', 'Nunavut', 'Macau',
       'Queensland', 'Tianjin', 'Liaoning', 'Qinghai', 'South Australia',
       'Ningxia'], dtype=object)

Hay data de otros continentes

In [14]:
df['CONTINENT_NAME'].unique()

array(['America', 'Asia', 'Europe', 'Africa', 'Oceania', nan],
      dtype=object)

Info que quizá no sean necesaria:

* COUNTY_FIPS_NUMBER * si esto equivale a zipcode entonces si es necesaria
* COUNTRY_ALPHA_3_CODE
* DATA_SOURCE_NAME

Info que quizá desechemos al elegir solo la data que nos vaya a servir:

* CONTINENT_NAME
* COUNTRY_SHORT_NAME
* COUNTRY_ALPHA_2_CODE

Columnas con las que nos quedaríamos:

* PEOPLE_POSITIVE_CASES_COUNT
* COUNTY_NAME
* PROVINCE_STATE_NAME
* REPORT_DATE
* PEOPLE_DEATH_NEW_COUNT
* PEOPLE_POSITIVE_NEW_CASES_COUNT
* PEOPLE_DEATH_COUNT